* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}


.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 300px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1207px;
}

.navbar__brand {
  padding-left: 20px;
}

.navbar__brand_img {}

.navbar__search-form {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 60px;
  margin-right: 50px;
  position: relative;
}

.navbar__search-form__input {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  height: 40px;
  padding-left: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.navbar__search-form_img {
  position: absolute;
  left: 11px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.navbar__personal {
  display: flex;
  margin-left: 10px;
  border-left: solid 1px #EBEBF1;
  height: 100%;
  padding-right: 20px;
  align-items: center;
  cursor: pointer;
}

.navbar__personal_name {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin: 0 10px 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.navbar__personal_img {
  width: 40px;
  height: 40px;
  border: solid 0 transparent;
  border-radius: 50%;
}

.navbar__personal_img_collapse {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #E5E5E5;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
}

.main__header {
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 160%;
  text-transform: uppercase;
  color: #121920;
}

.main__section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main__section:after {
  content: "";
  flex: 0 1 270px;
}

.main__section__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  margin-bottom: 30px;
}

.main__section__card_img {
  padding: 26px 16px;
  max-height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {

  .navbar__search-form {
    margin-left: 50px;
  }
}

@media (max-width: 700px) {

  .navbar__personal_img_collapse {
    display: flex;
  }

  .navbar__personal {
    border: none;
  }

  .navbar__personal_name {
    display: none;
  }

  .navbar__personal_img {
    display: none;
  }

}

@media (max-width: 510px) {

  .navbar {
    height: 66px;
  }

  .navbar__search-form {
    order: 3;
    margin: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #BBC4D6;
    margin-top: -2px;
  }

  .navbar__search-form__input {
    padding-left: 48px;
  }

  .navbar__search-form_img {
    left: 22px;
  }

}